body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: url(https://res.cloudinary.com/moodyappcloudname/image/upload/v1556215584/fervent-jan-121249-unsplash.jpg)
    no-repeat center center fixed;
  background-size: cover;
  width: 60%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blanchedalmond;
}

pre {
  display: flex;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 32px;
  margin: 1em;
  white-space: pre-line;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: firebrick;
}

.avatar {
  width: 300px;
  border-radius: 50%;
}
.intro {
  font-family: 'Permanent Marker';
  font-size: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.cone-list {
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.container {
  min-width: 300px;
  max-width: 1200px;
  min-height: 300px;
  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.border {
  border: 5px gainsboro outset;
  border-radius: 5px;
  padding: 10px;
}

.title {
  font-size: 20px;
  border-bottom: 2px floralwhite solid;
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.body {
  line-height: 30px;
}

.author {
  font-style: italic;
  font-size: 17px;
}

.nav {
  display: flex;
  margin-bottom: 1.5rem;
}

.nav li {
  margin-right: 15px;
}

.linkedin-icon {
  color: firebrick;
  font-size: 40px;
}

.twitter-icon {
  color: firebrick;
  font-size: 40px;
}
.website-icon {
  font-size: 40px;
  color: firebrick;
}
.github-icon {
  font-size: 40px;
  color: firebrick;
}
.email-icon {
  font-size: 40px;
  color: firebrick;
}

.list-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-between;
  width: 150px;
}

@media only screen and (max-width: 768px) {
  body {
    width: 65%;
  }
}

@keyframes color-transform {
  0% {
    color: firebrick;
  }
  100% {
    color: gainsboro;
  }
}

/* @keyframes breath {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1.001);
  }
} */

div .speech {
  animation-name: color-transform;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-size: 50px;
}

.overflow {
  height: 100vh;
  overflow: scroll;
}

/* div .body,
.author {
  animation-name: breath;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: -75%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
