body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: url(https://res.cloudinary.com/moodyappcloudname/image/upload/v1556128748/whitecup.jpg)
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

pre {
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 1em;
  white-space: pre-line;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: firebrick;
}

.avatar {
  width: 300px;
  border-radius: 50%;
}
.intro {
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.cone-list {
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.container {
  min-width: 300px;
  max-width: 1200px;
  min-height: 300px;
  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.border {
  border: 5px gainsboro outset;
  border-radius: 5px;
  padding: 10px;
}

.title {
  font-size: 20px;
  border-bottom: 2px floralwhite solid;
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.body {
  line-height: 25px;
}

.author {
  font-style: italic;
  font-size: 17px;
}

.nav {
  display: flex;
  margin-bottom: 1.5rem;
}

.nav li {
  margin-right: 15px;
}

.linkedin-icon {
  color: firebrick;
  font-size: 40px;
}

.twitter-icon {
  color: black;
  font-size: 40px;
}
.website-icon {
  font-size: 40px;
  color: firebrick;
}
.github-icon {
  font-size: 40px;
  color: black;
}
.email-icon {
  font-size: 40px;
  color: firebrick;
}

.list-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-between;
  width: 150px;
}
